* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'poppins', 'montserrat';
}

.app {
	background-image: url('./assets/warm1.jpeg');
	background-size: cover;
	/* background-position: bottom; */
	background-repeat: no-repeat;
	height: 100vh;
}

.cold {
	background-image: url('./assets/snowy.jpeg');
	background-size: cover;
	/* background-position: bottom; */
	background-repeat: no-repeat;
	height: 100vh;
}

main {
	width: 100%;
}

main .search {
	text-align: center;
}

.search-box {
	padding: 0.9rem;
	font-size: 1rem;
	margin: 2% 10%;
	width: 80%;
	height: 3rem;
	border-radius: 0px 0px 16px 16px;
	box-shadow: 0px 5px rgba(255, 255, 255, 0.2);
	background-color: rgba(255, 255, 255, 0.5);

	appearance: none;
	border: none;
	outline: none;
}

.search-box:focus {
	background-color: rgba(255, 255, 255, 0.8);
}

.place {
	text-align: center;
	font-size: 2.2rem;
	margin-top: 1%;
	color: #000000;
}

.date {
	text-align: center;
	font-size: 1.8rem;
	color: #000000;
}

.weather-box {
	color: #99a799;
	margin: 0 auto;
	width: 60%;
	text-align: center;
	font-size: 900%;
	margin-top: 3%;
	background-color: rgba(255, 255, 255, 0.2);
}
